.translation-modal > .overlay > .modal {
    height: auto;
    width: 90%;
    top: 30px;
    bottom: 30px;
}

.translation-modal > .overlay > .modal > .title {
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 10;
}

.translation-modal > .overlay > .modal > .content {
    padding-top: 0;
    z-index: 0;
}

.translation-modal > .overlay > .modal > .content > .horizontal.equal {
    align-items: start;
}

.translation-modal > .overlay > .modal > .content > .horizontal > .form-field > div > input {
    width: 100%;
}

.sticky-header {
    position: sticky;
    top: 63px;
    background-color: #ffffff;
    border-bottom: 1px solid black;
    z-index: 10;
    padding-top: 8px;
    margin-bottom: 8px;
}

.sticky-header > .horizontal.equal {
    min-height: 32px;
}

.sticky-header > .form-field {
    padding-bottom: 0px;
}

.translation-section-header {
    background-color: #8ec1db;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    padding: 12px 6px;
}

.translation-group {
    border-bottom: 8px solid #8ec1db;
    margin-bottom: 24px;
}

.translation-group-header {
    font-size: 18px;
    font-weight: 500;
}

.translation-item {
    border-bottom: 8px solid #8ec1db;
    margin-bottom: 24px;
}

.translation-row {
    display: flex;
    padding: 8px 0px;
}

.translation-row > div {
    width: 50%;
}

.translation-row > *:first-of-type {
    padding-left: 0px;
}

.translation-row > * {
    padding-left: 25px;
}

.translation-row > div > input {
    width: 100%;
}
