.anchor-menu {
    background: white;
    color: black;
    margin-top: 52px;
    margin-left: 10px;
    width: 400px;
    min-height: calc(100vh - 52px);
    max-height: calc(100vh - 52px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: .6;
    transition: opacity .3s ease-in-out;
    position: fixed;
    overflow-y: auto;
}

.anchor-menu:hover {
    opacity: 1;
}

.align-header {
    text-align: center;
    font-size: 24px;
}

.truncate {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.center-text {
    text-align: center;
}

.folder-icon{
    height: 25px;
    width: 25px;
    background: url("../../images/icons/folder-outline.svg") no-repeat center;
}

.message-icon{
    height: 25px;
    width: 25px;
    background: url("../../images/icons/information-circle-outline.svg") no-repeat center;
}

.question-icon{
    height: 25px;
    width: 25px;
    background: url("../../images/icons/help-circle-outline.svg") no-repeat center;
}
