.questionnaire-overview {
    text-align: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 80%;
    flex: 1;
    display: flex;
}

/* override styling */
.questionnaire-overview .rst__nodeContent {
    right: 0;
}

.questionnaire-overview .rst__placeholder {
    max-width: 100%;
    height: 150px;
}

.questionnaire-overview__toolbox {
    width: 200px;
}

.questionnaire-overview__treeview {
    flex: 1;
}

.anchor-menu__placeholder {
    position: absolute;
    top: 45px;
    text-align: center;
    left: 200px;
    right: 0;
    pointer-events: none;
}

.anchor-menu__item--selected {
    box-shadow: 0 0 0 4px var(--primary-2);
}
.anchor-menu__item:hover .item-button {
    visibility: visible;
}

/* override styling */
.anchor-menu__item .rst__rowLabel {
    flex: 1;
}

.anchor-menu__inneritem {
    display: flex;
    max-width: 600px;
    padding: 0.5rem;
    cursor: pointer;
}
.anchor-menu__inneritem:hover {
    background-color: #e4e4e4;
}
.anchor-menu__topitem .rst__rowContents {
    /* override styling */
    background-color: #e4f7f9;
}

.anchor-menu__title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.anchor-menu__dragcomponent {
    padding: 8px 16px;
    background: #e4f7f9;
    margin: 5px;
    text-align: left;
    color: black;
    border: 1px solid #cae7ed;
    cursor: grab;
}
.anchor-menu__dragcomponent:active {
    cursor: grabbing;
}

.folder-icon {
    height: 25px;
    min-width: 25px;
    margin-right: 0.5rem;
    background: url('../../images/icons/folder-outline.svg') no-repeat center;
}

.message-icon {
    height: 25px;
    min-width: 25px;
    margin-right: 0.5rem;
    background: url('../../images/icons/information-circle-outline.svg') no-repeat center;
}

.question-icon {
    height: 25px;
    min-width: 25px;
    margin-right: 0.5rem;
    background: url('../../images/icons/help-circle-outline.svg') no-repeat center;
}
