.questionnaire-overview {
    text-align: center;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.anchor-menu {
    background: white;
    color: black;
    margin-top: 52px;
    margin-left: 10px;
    width: 400px;
    min-height: calc(100vh - 52px);
    max-height: calc(100vh - 52px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: .6;
    transition: opacity .3s ease-in-out;
    position: fixed;
    overflow-y: auto;
}

.anchor-menu:hover {
    opacity: 1;
}

.align-header {
    text-align: center;
    font-size: 24px;
}

.truncate {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.center-text {
    text-align: center;
}

.folder-icon {
    height: 25px;
    width: 25px;
    min-width: 25px;
    background: url("../../images/icons/folder-outline.svg") no-repeat center;
}

.message-icon {
    height: 25px;
    width: 25px;
    min-width: 25px;
    background: url("../../images/icons/information-circle-outline.svg") no-repeat center;
}

.question-icon {
    height: 25px;
    width: 25px;
    min-width: 25px;
    background: url("../../images/icons/help-circle-outline.svg") no-repeat center;
}

.anchor-content {
    padding: 16px;
    display: flex;
    align-items: center; 
}

.add-icon.large {
    height: 60px;
    width: 60px;
}

.floating-button {
    background-color: white;
    bottom: 0;
    left: 0;
    opacity: 80%;
    position: fixed;
    width: 380px;
}

.new-item-button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font: inherit;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
    outline: inherit;
    padding: 0;
}

.toggle {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}