@use "sass:map";
@use "@helsenorge/designsystem-react/scss/palette.scss" as palette;
@use "@helsenorge/designsystem-react/scss/spacers.scss" as spacers;

.page_refero__component legend {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6667;
  padding: spacers.getSpacer(2xs) 0;

  em {
    font-weight: 500;
    color: palette.$neutral700;
  }
}

.page_refero__component > fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: inherit;

  legend,
  .nested-fieldset {
    @extend %legend !optional;
  }
}

// nested
.page_refero__component {
  .nested-fieldset {
    padding-left: 2.5rem;
    position: relative;
    overflow: inherit;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: spacers.getSpacer(2xs);
      bottom: 0;
      border-left: 4px solid #d6d4d3;
      border-radius: 3px;
    }

    // Dersom fieldset ikke har legend, la streken gå høyere opp.
    label:first-of-type {
      position: relative;
    }

    label:first-of-type::before {
      content: "";
      position: absolute;
      top: spacers.getSpacer(2xs);
      left: -2rem;
      height: spacers.getSpacer(m);
    }

    .page_refero__component_datetime {
      label {
        &:first-of-type::before {
          content: none;
        }
      }
    }
  }
}
