# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/web/.pnp
/web/.pnp.js

# testing
/web/coverage

# production
/web/build

# misc
/web/.DS_Store
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local
/web/.idea
/web/.eslintcache
/web/examples/form-filler/node_modules
/web/examples/form-filler/wwwroot

/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/debug.log

# vite
/web/vite.config.ts.timestamp*
/web/report
/web/sonar-report.xml
/.vs

# Devspace
.devspace

# Helm Chart
Chart.lock
*.tgz

