.site-layout-sub-header-background {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    padding-left: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3b6064;
    border-bottom: solid lightgrey thin;

    h1 {
        padding-right: 20px;
        margin: 0;
        border-right: solid lightgrey thin;
        color: white;
        margin-bottom: 0;
    }

    .avatar-container {
        color: white;
        display: flex;
        flex-direction: row;
        border-left: solid lightgrey thin;

        .header-avatar {
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 12px;
        }
        h1 {
            margin: 0px;
            margin-right: -40px;
            border-right: 0;
        }
    }
}

.breadcrumb-header {
    padding-top: 90px;
    margin-left: 20px;
}
