.site-layout-sub-header-background {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    padding-left: 1.875rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3b6064;
    border-bottom: solid lightgrey thin;

    h1 {
        padding-right: 1.25rem;
        margin: 0;
        border-right: solid lightgrey thin;
        color: white;
        margin-bottom: 0;
    }

    .avatar-container {
        color: white;
        display: flex;
        flex-direction: row;
        border-left: solid lightgrey thin;

        .header-avatar {
            margin-left: 1.25rem;
            margin-right: 1.25rem;
            margin-top: 0.75rem;
        }
        h1 {
            margin: 0;
            margin-right: -2.5rem;
            border-right: 0;
        }
    }
}
.ant-row-center {
    margin: 0 !important;
}
.breadcrumb-header {
    padding-top: 4.6875rem;
    margin-left: 1.25rem;
    z-index: 2;
}

.content {
    background-color: #f0f2f5;
}
