@import '_variables';

.site-layout-sub-header-background {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    padding-left: 1.875rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $header;
    border-bottom: solid $borderColor thin;

    h1 {
        padding-right: 1.25rem;
        margin: 0;
        color: white;
        margin-bottom: 0;
    }

    .avatar-container {
        color: white;
        display: flex;
        flex-direction: row;
        border-left: solid $borderColor thin;
        h1 {
            margin: 0;
            margin-right: -2.5rem;
            margin-left: 2rem;
            border-right: 0;
            font-size: 18px;
        }
    }
}
.ant-row-center {
    margin: 0 !important;
}
.breadcrumb-header {
    padding-top: 4.6875rem;
    margin-left: 1.25rem;
    z-index: 2;
}

.content {
    background-color: $background;
}
