.input-question:hover {
    border-color: var(--primary-1) !important;
    
}
.input-question:focus {
    border-color: var(--primary-1) !important;
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(166,30,123, .2) !important;
    box-shadow: 0 0 0 2px rgba(166,30,123, .2) !important;
}
