.inputQuestion:hover {
    border-color: #A61E7B !important;
    
}
.inputQuestion:focus {
    border-color: #A61E7B !important;
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(166,30,123, .2) !important;
    box-shadow: 0 0 0 2px rgba(166,30,123, .2) !important;
}