.treeView {
  flex: 1;
}

.tree {
  text-align: left;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-right: 24px;
}

.item {
  margin: 16px 0;
  margin-left: calc(var(--tree-item-level, 0) * 24px);
  background-color: transparent;

  &:hover {
    z-index: 1;
  }

  &[data-dragging="true"] {
    opacity: 0.3;
  }
}

.topItem {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.itemSelected {
  z-index: 2;
}

.placeholder {
  position: absolute;
  top: 45px;
  text-align: center;
  left: 200px;
  right: 0;
  pointer-events: none;
}
