@import '_variables';
.drawer-container {
    padding: 1.25rem;
    background-color: lightgray;
    background: #fff;
    border: 0.0625rem solid #d9d9d9;
    border-width: thin;
    transition: all 0.5s ease-in-out;
    line-height: 0;

    &:hover {
        border-color: $header;
    }
    p {
        margin: 0;
        color: $header;
        font-weight: bold;
        margin-left: -0.625rem;
    }
}
