@import '_variables';
.float-label {
    position: relative;
    margin-bottom: 0.75rem;
}

.label {
    font-size: 1rem;
    position: absolute;
    color: lightgray;
    pointer-events: none;
    left: 0.75rem;
    top: 1.125rem;
    transition: 0.2s ease all;
}

.label-float {
    color: $header;
    top: 0.1875rem;
    left: 0.625rem;
    font-size: 0.75rem;
    margin-bottom: 2.5rem;
}
