.answer-option-item {
    display: flex;
}

.answer-option-item .answer-option-content {
    flex: 1;
    margin: 5px 15px;
}

.answer-option-content .twoColumns {
    width: 48%;
    margin-right: 4%;
}
.answer-option-content .threeColumns {
    width: 30%;
    margin-right: 4%;
}

.answer-option-content input:last-of-type {
    margin-right: 0%;
}

.answer-option-item button {
    border: 0;
    cursor: pointer;
    padding: 0;
    background: url('../../images/icons/close-outline.svg') no-repeat center;
    height: 25px;
    width: 25px;
}

.reorder-icon {
    height: 25px;
    width: 25px;
    min-width: 25px;
    background: url('../../images/icons/reorder-three-outline.svg') no-repeat center;
}
