.answer-option-item{
    display: flex;
}

.answer-option-item input{
    flex: 1;
    margin: 5px 15px;
}

.answer-option-item button{
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    background: url("../../images/icons/close-outline.svg") no-repeat center;
    height: 25px;
    width: 25px;
}

.reorder-icon{
    height: 25px;
    width: 25px;
    background: url("../../images/icons/reorder-three-outline.svg") no-repeat center;
}
