.nav-button {
    color:#FAFAFA !important;

}
.nav-button:hover {
    color:#FAFAFA !important;
    border-color: #FAFAFA !important;
}
.nav-bar{
    position: fixed;
    z-Index: 1;
    width: 100%;
    padding: 5px;
    height: 56px;
    display: block;
    background-color: #006D84;

}
