@import './formFillerSidebar.css';

.preview-window {
    font-family: Source Sans Pro, Arial, Verdana, sans-serif;
    background-color: #f5f3f3;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    overflow: hidden;
}

.preview-window h2 {
    color: black;
    margin-top: 70px;
    text-align: left;
    font-size: 42px;
    padding-left: 20px;
    font-weight: 700;
}

.referoContainer-div {
    padding: 20px;
    max-height: calc(100vh - 10rem);
    overflow: scroll;
    text-align: initial;
}
