@import './referoSidebar.css';

.refero-window {
    font-family: Source Sans Pro, Arial, Verdana, sans-serif;
    background-color: #f5f3f3;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    overflow: hidden;
}

.refero-window h2 {
    color: black;
    margin-top: 70px;
    text-align: left;
    font-size: 42px;
    padding-left: 20px;
    font-weight: 700;
}

.referoContainer-div {
    padding: 20px;
    max-height: calc(100vh - 10rem);
    overflow: scroll;
    text-align: initial;
}

.changePreviewButton {
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
    background-color: transparent;
    color: white;
    border: none;
    outline-color: white;
    outline-style: solid;
    outline-width: 2px;
    font-size: 14px;
}
.changePreviewButton:hover {
    background-color: #4caf50;
}

.changePreviewButton-content {
    padding: 0px;
    display: inline-flex;
    overflow: hidden;
}

.changePreviewButton-icon {
    position: relative;
    top: 7px;
}
