.selector {
    position: relative;
    height: 50px;
}

.selector img {
    position: absolute;
    right: 12px;
    top: 15px;
    z-index: 1;
    pointer-events: none;
}

.selector select {
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    z-index: 2;
}
