.horizontal button {
    background-color: inherit;
    border: 0px;
}

.horizontal button:focus {
    outline: 0px;
}

.radioBtn>input[type="text"] {
    width: 90%;
    padding: 10px;
}

.radioBtn > button{
    margin-left: auto;
    cursor: pointer;
}