.radioBtn {
    text-align: left;
}

.radioBtn-div {
    display: flex;
    gap: 5px;
}

.radioBtn-input {
    border: initial !important;
    clip: initial !important;
    height: initial !important;
    margin: initial !important;
    overflow: initial !important;
    padding: initial !important;
    position: initial !important;
    width: initial !important;
}
