@import '/src/index.css';
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
.editor {
    display: flex;
    height: 100%;
}

header {
    background-color: var(--primary-2);
    display: flex;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
}

h1 {
    color: var(--color-base-1);
    margin: 0;
}

.align-everything {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    padding-left: 10px;
    align-items: center;
}

.pull-right {
    margin-left: auto;
    line-height: 44px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.page-wrapper {
    width: 800px;
    margin: 0 auto;
}

.form-intro-field {
    margin: 20px 70px;
}

input,
textarea,
select {
    padding: 10px;
}

select {
    padding: 10px 40px 10px 10px;
    text-overflow: ellipsis;
}

.structor-helper {
    background-color: #f5f3f3;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.title {
    background-color: var(--primary-2);
    display: flex;
    padding: 10px 0;
}
.json {
    display: block;
    white-space: pre-wrap;
    text-align: left;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
}

.overlay {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000a8;
    z-index: 4;
    width: 100%;
    transition: 1s ease-in-out;
}

.details-button {
    position: fixed;
    left: 0;
    top: 80px;
}
