.align-everything {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu {
    background: #006d84;
    min-height: 100vh;
}

.main-menu>div {
    background-color: white;
    height: 40vh;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 40px 40px 40px;
}


.main-menu label.index-buttons {
    margin-left: 15px;
}

.main-menu img.upload-icon {
    margin: 4px;
    width: 25px;
    height: 25px;
    filter: invert();
}