@import '_variables';

.breadcrumbs-container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    position: fixed;
    padding: 0.3125rem;

    .breadcrumbs-item {
        color: black;
        padding-left: 0.1875rem;
        font-size: 1rem;
    }
    #breadcrumb-name {
        font-weight: normal;
    }
    #breadcrumb-name-focus {
        font-weight: bold;
    }
    #breadcrumb-schema-focus {
        font-weight: bold;
    }
}
