@import '_variables';

.breadcrumbs-container {
    position: fixed;
    z-index: 4;
    width: 100%;
    margin-top: 4rem;
    padding: 0.3125rem;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    background-color: $background;

    .breadcrumbs-item {
        padding-left: 0.1875rem;
        font-size: 1rem;
        color: black;
    }
    #breadcrumb-name {
        font-weight: bold;
    }
    .breadcrumbs-schema {
        font-weight: bold;
    }
}
