.failed-container {
    margin-top: 12.5rem;
}

.patient-card {
    margin-top: (1.875rem!important);

    .info-container {
        display: flex;
        justify-content: space-between;

        h1 {
            font-style: italic;
            font-weight: bold;
        }
        h4 {
            font-weight: bold;
            margin-bottom: 0;
            margin-top: 0.8125rem;
        }
    }
}

.patient-table {
    margin-top: 1.25rem;
}
