@import '../../variables';

.failed-container {
    margin-top: 12.5rem;
}

.patient-card {
    margin-top: 1.875rem !important;
    cursor: default;

    .ant-card-head {
        background-color: $elementHeader !important;
        display: flex;
        justify-content: center;

        h4 {
            margin-bottom: 0;
        }
    }

    .info-container {
        display: flex;
        justify-content: space-between;

        span {
            font-weight: bold;
        }
        h4 {
            font-style: italic;
            font-weight: 150;
            margin-bottom: 0;
            margin-top: 0.8125rem;
        }
    }
}

.patient-table {
    margin-top: 1.25rem;

    .ant-table-thead {
        th {
            background-color: $elementHeader !important;
        }
    }
    .ant-table-tbody {
        .table-row-dark {
            background-color: $rowColor;
        }
        cursor: pointer;
    }

    .mini {
        .ant-pagination-item {
            a {
                &:hover {
                    color: $elementHeader;
                }
            }
        }
        .ant-pagination-item-active {
            border-color: $elementHeader;
            a {
                color: green;
            }
        }
    }
}
