@import '../../variables';

.search-container {
    margin-top: 10.625rem;

    .search-bar {
        width: 100%;
    }
}

p {
    margin-bottom: 0.4375rem;
}
.ant-input-affix-wrapper {
    &:hover {
        border-color: $header !important;
    }
    &:focus {
        border-color: $elementHeader !important ;
    }
}
.ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 2px $elementHeader !important;
    border-color: $header !important ;
    &:focus {
        border-color: $elementHeader !important ;
    }
}
