@import '_variables';

.search-container {
    margin-top: 10.625rem;

    .search-bar {
        width: 100%;
    }
}

p {
    margin-bottom: 0.4375rem;
}
.ant-input-affix-wrapper {
    padding: 1.25rem 1.25rem 0.3125rem 0.625rem !important;
    &:hover {
        border-color: $header !important;
    }
    &:focus {
        border-color: $elementHeader !important ;
    }
}
.ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 0.125rem $elementHeader !important;
    border-color: $header !important ;
    &:focus {
        border-color: $elementHeader !important ;
    }
}

svg {
    margin-bottom: 0.625rem;
    margin-left: 0.3125rem;
    margin-right: -0.625rem;
    font-size: 1.25rem;
}
