.nav-button {
    color: var(--color-base-1) !important;

}
.nav-button:hover {
    color: var(--color-base-1) !important;
    border-color: var(--color-base-1) !important;
}
.nav-bar{
    position: fixed;
    z-Index: 100;
    width: 100%;
    padding: 5px;
    height: 56px;
    display: block;
    background-color: var(--primary-2);

}

.back-button:hover {
    background-color: #0188a3 !important;
}
