.modal.small {
    height: unset;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    width: 650px;
}

.title {
    padding: 10px;
}

.key-value {
    display: flex;
}

.key-value div:first-of-type {
    font-weight: 600;
    width: 120px;
}