.modal-btn-bottom {
    bottom: 10px;
    position: sticky;
    width: 100%;
}

.modal-btn-bottom button {
    background: white;
}

.modal.small {
    height: unset;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    width: 650px;
}
