.modal {
    position: fixed;
    top: 100px;
    width: 900px;
    background: white;
    height: 600px;
    overflow: auto;
    text-align: left;
}

.modal.large {
    width: 90%;
    height: 80vh;
}

.modal > .content > form > button {
    font-weight: 600;
    background-color: #2a69ac;
    border-radius: 25px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
}

.feedback {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.feedback > p {
    padding-left: 7px;
    margin: 0;
    font-size: 19px;
}

.modal-btn-bottom {
    bottom: 10px;
    position: sticky;
    width: 100%;
}

.modal-btn-bottom button {
    background: white;
}

.modal.small {
    height: unset;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    width: 650px;
}
