@-moz-keyframes rotator {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-webkit-keyframes rotator {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 124;
    }
    50% {
        stroke-dashoffset: 30;
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 124;
        -moz-transform: rotate(450deg);
        -ms-transform: rotate(450deg);
        -o-transform: rotate(450deg);
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

.path {
    stroke-dasharray: 124;
    stroke-dashoffset: 0;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    stroke: #006d84;
    fill: transparent;
    -moz-transition: fill 1s ease-in-out, stroke-width 0.5s ease-in-out;
    -o-transition: fill 1s ease-in-out, stroke-width 0.5s ease-in-out;
    -webkit-transition: fill 1s ease-in-out, stroke-width 0.5s ease-in-out;
    transition: fill 1s ease-in-out, stroke-width 0.5s ease-in-out;
}

.loader {
    height: 43px;
    width: 43px;
    opacity: 0;
    -moz-transition: 0.5s opacity ease-in-out;
    -o-transition: 0.5s opacity ease-in-out;
    -webkit-transition: 0.5s opacity ease-in-out;
    transition: 0.5s opacity ease-in-out;
    position: relative;
}

.spinner{
    position: absolute;
    left: 0;
}

.loader::before {
    font-family: Ionicons;
    content: '\f121';
    color: white;
    font-size: 25px;
    position: relative;
    left: 11.5px;
    top: 8px;
    opacity: 0;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.loader::after {
    font-family: Ionicons;
    content: '\f129';
    color: white;
    font-size: 25px;
    position: relative;
    left: -8px;
    top: 8px;
    opacity: 0;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.loader.loading {
    opacity: 1;
}

.loader.loading .path {
    -moz-animation: dash 1.4s ease-in-out infinite;
    -o-animation: dash 1.4s ease-in-out infinite;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite;
}

.loader.loading .spinner {
    -moz-animation: rotator 1.4s linear infinite;
    -o-animation: rotator 1.4s linear infinite;
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
}

.loader.success {
    opacity: 1;
}

.loader.success .path {
    fill: rgb(92, 184, 92);
    stroke-width: 0;
}

.success.loader::before {
    opacity: 1;
    z-index: 1;
}

.loader.error {
    opacity: 1;
}

.loader.error .path {
    fill: rgb(217, 83, 79);
    stroke-width: 0;
}

.error.loader::after {
    opacity: 1;
}