.drawer {
    display: block;
    height: 100%;
    background: white;
    position: fixed;
    top: 64px;
    width: 45%;
    min-width: 600px;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    transition: transform 0.3s ease-out;
    overflow-y: auto;
}

.drawer.left-drawer {
    top:0;
    left: 0;
    right: auto;
    transform: translateX(-100%);
}

.drawer.right-drawer {
    right: 0;
    left: auto;
    transform: translateX(100%);
}

.drawer.open {
    transform: translateX(0);
    display: block;
}

.drawer-header {
    background-color: var(--primary-2);
    display: flex;
    padding: 10px 0;
}