.item-button {
    align-items: center;
    background: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    margin: 0 5px;
    outline: inherit;
    padding: 5px;
    visibility: hidden;
}
.item-button--visible {
    visibility: visible;
}

.item-button label {
    padding-left: 2px;
    cursor: pointer;
}

.item-button:hover {
    background: #c0d7dc;
}

.duplicate-icon {
    background: url('../../../images/icons/copy-outline.svg') no-repeat center;
    margin: auto;
    height: 25px;
    width: 25px;
}

.trash-icon {
    background: url('../../../images/icons/trash-outline.svg') no-repeat center;
    margin: auto;
    height: 25px;
    width: 25px;
}
