.question {
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 24px;
}

.question-type-header {
    text-align: left;
    margin-bottom: 2rem;
}

.question-form,
.accordion,
.content {
    padding: 20px 70px;
}

.question-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 18px;
    min-width: 32px;
    color: #4299e1;
    display: flex;
    align-items: center;
    padding-right: 15px;
    font-weight: 700;
}

.question-button > i {
    font-size: 28px;
    color: black;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}

.form-field__optional {
    color: #aaa;
}

.form-field-label-wrapper,
.form-field > label {
    font-weight: bold;
    text-align: left;
}

.form-field-label-wrapper {
    display: flex;
    justify-content: space-between;
}

.msg-error {
    color: #ff0000;
}

.form-field.field-error input,
.form-field.field-error input:focus,
.form-field.field-error select,
.form-field.field-error select:focus {
    border: 1px solid #ff0000;
    outline-color: #ff0000;
}

.form-field input,
.form-field textarea,
.form-field select {
    margin: 0;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #a0aec0;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-field > div {
    padding-bottom: 12px;
}

.form-field input:disabled {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #e2e8f0;
}

.question-form {
    position: relative;
    padding-bottom: 25px;
}

.horizontal {
    display: flex;
    align-items: center;
}

.horizontal > *:first-of-type {
    padding-left: 0px;
}

.horizontal > * {
    padding-left: 25px;
}

.horizontal > input {
    margin-right: 15px;
}

.horizontal > input[type='text'] {
    width: 100%;
}

.horizontal > input:last-of-type {
    margin-right: 0px;
}

.horizontal.equal {
    min-height: 81px;
}

.horizontal.equal > div {
    width: 50%;
}

.horizontal.full > div {
    width: 100%;
}

.form-field .date-validation-input {
    width: 70px;
    margin-left: 25px;
    padding-left: 10px;
}

.predefined-value {
    border-bottom: 1px solid #e2e8f0;
    padding: 12px;
    text-align: left;
}
