@import "/src/index.css";

.section-button {
    color: var(--primary-1) !important;
    border-color: var(--primary-1) !important;
    background-color: var(--color-base-2) !important;
    height: 60px !important;
    width: 100%;
}

.section-button:hover {
    color: var(--color-base-1) !important;
    border-color: var(--color-base-1) !important;
    background-color: var(--primary-1) !important;
}

.section-button:focus {
    outline: 0 !important;
    -webkit-box-shadow: 0 0 0 2px rgba(250,250,250, .2) !important;
    box-shadow: 0 0 0 2px rgba(250,250,250, .2) !important;
}

