.site-collapse-custom-panel {
    background: white;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    overflow: inherit;
    padding-top: 3.125rem;
}

.site-collapse-custom-collapse {
    font-size: 0.625rem;
    background: white;
    overflow: inherit;
    margin-bottom: 1.5rem;
    padding-left: 6.25rem;
}

p.answers {
    font-size: 1rem;
    font-style: oblique;
}

p.bold {
    font-weight: bold;
    font-size: 1rem;
}

p.questions {
    font-size: 1rem;
}

div.border {
    border-bottom: double;
    border-bottom-color: #f0f2f5;
}

div.card {
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: white;
}

h1.title {
    font-size: 2.125rem;
    padding-left: 6.875rem;
    padding-top: 5rem;
}

Button.nopadding {
    padding-left: 0rem;
    padding-top: 0rem;
}

p.inline-answer-container {
    font-size: 1rem;
    display: inline;
    font-weight: bold;
}

p.inline-date-container {
    font-size: 1rem;
    display: inline;
    font-weight: bold;
}
