.site-collapse-custom-panel {
    background: white;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    overflow: inherit;
    padding-top: 0rem;
    padding-left: 0rem;
}

.site-collapse-custom-collapse {
    font-size: 0.625rem;
    background: white;
    overflow: inherit;
    margin-bottom: 1.5rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

p.answers {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0px;
    font-style: oblique;
}

p.bold {
    font-weight: bold;
    font-size: 0.9rem;
}

p.questions {
    font-size: 0.9rem;
    margin-bottom: 0;
    display: inline;
}

div.border {
    border-bottom: double;
    border-bottom-color: #f0f2f5;
    border-width: small;
}

div.card {
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: white;
    padding-top: 2rem;
    margin-top: 3rem;
}

h1.title {
    font-size: 2.125rem;
    padding-left: 1rem;
}

.alternatives {
    padding-left: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-size: 0.9rem;
    font-style: oblique;
    cursor: pointer;
    color: blue;
}

p.inline-answer-container {
    font-size: 0.8rem;
    display: inline;
    //font-weight: bold;
}

p.inline-date-container {
    font-size: 1rem;
    display: inline;
    //font-weight: bold;
}

.answer-container {
    margin-bottom: 40px;
    border: thin;
    border-color: #f0f2f5;
    border-width: small;
    background-color: rgb(249, 249, 249);
    padding: 5px;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.question-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.inner-schema-row {
    display: flex !important;
    flex-direction: column !important;

    .DateCol {
        align-self: flex-end !important;
        margin-right: 40px !important;
    }
}

.ant-popover-inner {
    .scroll {
        overflow: auto;
        height: 150px;
    }
    .notscroll {
        overflow: auto;
        height: auto;
    }
}
.dateCol {
    align-self: flex-end;
}
