@import '_variables';

.site-collapse-custom-panel {
    background: white;
    font-size: 1.2rem;
    overflow: inherit;
    padding-top: 0rem;
    padding-left: 0rem;
}

.site-collapse-custom-collapse {
    font-size: 0.625rem;
    background: white;
    overflow: inherit;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-bottom: 6.25rem;
}

.ant-collapse {
    :last-child {
        border-bottom: none !important;
    }
}
.ant-collapse-icon-position-left {
    margin-bottom: 1.25rem !important;
}

.answers {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

p.bold {
    font-weight: bold;
    font-size: 0.9rem;
}

p.questions {
    font-size: 0.9rem;
    display: inline;
}

p.section-description {
    font-size: 0.85rem;
    margin: 0;
}

div.border {
    border-bottom: double;
    border-bottom-color: #f0f2f5;
    border-width: small;
}

div.card {
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: white;
    padding-top: 2rem;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

h1.title {
    font-size: 2.125rem;
    padding-left: 1rem;
}

p.inline-answer-container {
    font-size: 0.8rem;
    display: inline;
}

p.inline-date-container {
    font-size: 1rem;
    display: inline;
}

.qa-container {
    padding-top: 0.625rem;
    padding-bottom: 2.5rem;
    border-bottom: 0.0625rem solid lightgray;
    border-bottom-width: thin;
}

.question-container {
    margin-bottom: -0.9375rem;
    display: flex;
    justify-content: space-between;
}

.ant-collapse-content-box {
    :last-child {
        border-bottom: none;
    }
}

.question-alternative-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: -0.9375rem;
}

.ant-btn-primary {
    background-color: $header !important;
    border-color: $header !important;
}

.inner-schema-row {
    display: flex !important;
    flex-direction: column !important;

    .date-column {
        align-self: flex-end !important;
        margin-right: 2.5rem !important;
    }
}

.ant-popover-inner {
    .scroll {
        overflow: auto;
        height: 9.375rem;
    }

    .notscroll {
        overflow: auto;
        height: auto;
    }
}
