.typeahead {
    position: relative;
    padding-top: 5px;
}

.typeahead .input-wrapper {
    position: relative;
}

.typeahead input {
    margin: 0;
    width: 100%;
    padding-left: 40px;
}

.typeahead .suggestions {
    position: absolute;
    width: 100%;
}

.typeahead ul::before {
    content: '';
}

.typeahead ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background: white;
    border: 1px solid black;
    max-height: 328px;
    overflow-y: scroll;
}

.typeahead li {
    padding: 10px 15px;
    cursor: pointer;
}

.typeahead li p{
    margin: 0;
}

.typeahead li:hover {
    background: lightgray;
    text-decoration: underline;
}

.search-icon {
    background: url('../../images/icons/search-outline.svg') no-repeat center;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 12px;
    top: 12px;
    opacity: .5;
}

.close-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.close-icon:after {
    content: '+';
    float: right;
    margin-left: 5px;
    font-size: 30px;
    font-weight: 100;
    transform: rotate( 45deg);
    opacity: .5;
}