.skjemasidebar {
    z-index: 1100001;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    left: auto;
    bottom: 0;
    background: #6a2abf;
    padding-left: 0.5rem;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.skjemasidebar.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.skjemasidebar.open .skjemasidebar__contents {
    -webkit-animation: none;
    animation: none;
}

.skjemasidebar.open .skjemasidebar__controlbutton:focus svg:nth-child(2),
.skjemasidebar.open .skjemasidebar__controlbutton:hover svg:nth-child(2) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.skjemasidebar__control {
    display: block;
    padding: 0;
    position: absolute;
    top: 50vh;
    left: -2.8rem;
}

.skjemasidebar__control:after,
.skjemasidebar__control:before {
    content: ' ';
    position: absolute;
    height: 100rem;
    width: 1rem;
    border-left: 1px solid #fff;
    bottom: 0;
    right: -3.8rem;
}

.skjemasidebar__control:before {
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) -1px -3px 8px 0;
    box-shadow: -1px -3px 8px 0 rgba(0, 0, 0, 0.25);
}

.skjemasidebar__control:after {
    top: 1.55rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) -1px 3px 8px 0;
    box-shadow: -1px 3px 8px 0 rgba(0, 0, 0, 0.25);
}

.skjemasidebar__controlbutton {
    position: absolute;
    left: 1.875rem;
    top: -1.55rem;
    height: 3.1rem;
    width: 2.4rem;
    cursor: pointer;
    display: block;
    padding: 0;
    background: #6a2abf;
    border: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 1rem 0 0 1rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) -1px 0 0 1px, rgba(0, 0, 0, 0.05) -2px 1px 0 2px,
        rgba(0, 0, 0, 0.05) -3px -1px 0 2px, rgba(0, 0, 0, 0.05) -3px -2px 0 3px, rgba(0, 0, 0, 0.05) -3px 2px 0 3px;
    box-shadow: -1px 0 0 1px rgba(0, 0, 0, 0.05), -2px 1px 0 2px rgba(0, 0, 0, 0.05),
        -3px -1px 0 2px rgba(0, 0, 0, 0.05), -3px -2px 0 3px rgba(0, 0, 0, 0.05), -3px 2px 0 3px rgba(0, 0, 0, 0.05);
}

.skjemasidebar__controlbutton:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: -0.625rem;
    bottom: 0;
}

.skjemasidebar__controlbutton .svgicon {
    display: none;
}

.skjemasidebar__controlbutton:focus,
.skjemasidebar__controlbutton:hover {
    -webkit-box-shadow: -4px -4px 0 4px #9153e2, -4px 4px 0 4px #9153e2;
    box-shadow: -4px -4px 0 4px #9153e2, -4px 4px 0 4px #9153e2;
}

.skjemasidebar__controlbutton:focus {
    outline: none;
}

.skjemasidebar__contents {
    -webkit-animation: hide-contents 0.4s;
    animation: hide-contents 0.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    display: block;
    background: #fff;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    top: 0;
    left: 0.5rem;
    right: 0;
}

.skjemasidebar__drawerheader {
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #6a2abf;
}

.skjemasidebar__drawerheader .skjemasidebar__title-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.skjemasidebar__drawerheader .skjemasidebar__title-wrap:focus {
    outline: none;
}

.skjemasidebar__drawerheader .skjemasidebar__title-wrap > svg {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 0.75rem;
    vertical-align: middle;
}

.skjemasidebar__drawerheader .skjemasidebar__title {
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    padding: 0.5rem 0;
    margin: 0;
    font-family: 'Georgia, Source Sans Pro, _sans-serif';
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    vertical-align: middle;
}

.skjemasidebar__drawerheader .atom_functionbutton.atom_functionbutton--close {
    display: block;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
}

.skjemasidebar__drawerheader .atom_functionbutton.atom_functionbutton--close svg {
    color: #fff;
    border-color: transparent;
}

.skjemasidebar__drawerheader .atom_functionbutton.atom_functionbutton--close:focus svg,
.skjemasidebar__drawerheader .atom_functionbutton.atom_functionbutton--close:hover svg {
    border-color: #fff;
}

.skjemasidebar__draweraccordion {
    padding: 0.5rem;
}

.skjemasidebar__draweraccordionstepheader {
    display: block;
    position: relative;
}

.skjemasidebar__draweraccordionstepheader h2 {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    font-family: 'Georgia, Source Sans Pro, _sans-serif';
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 2.5rem;
    color: #126f87;
}

.skjemasidebar__draweraccordionsteptitle {
    display: -ms-flexbox;
    display: flex;
    padding: 0 2.5rem 0 0.5rem;
    text-align: left;
    width: 100%;
    border: none;
    border-bottom: 1px solid #989693;
    min-height: 3rem;
    background-color: transparent;
    cursor: pointer;
}

.skjemasidebar__draweraccordionsteptitle .svgicon {
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 1.5rem;
    padding: 0.25rem;
    margin: 1rem 0.5rem 0.7rem;
    vertical-align: middle;
    pointer-events: none;
}

.skjemasidebar__draweraccordionsteptitle:focus svg,
.skjemasidebar__draweraccordionsteptitle:hover svg {
    -webkit-box-shadow: 0 0 0 4px #aaa8a6;
    box-shadow: 0 0 0 4px #aaa8a6;
}

.skjemasidebar__draweraccordionsteptitle:focus {
    background-color: #e4f7f9;
    outline: none;
}

.skjemasidebar__draweraccordiondeletestep {
    position: absolute;
    cursor: pointer;
    top: -0.275rem;
    right: 0.4rem;
}

.skjemasidebar__draweraccordionstepcontents {
    display: block;
    padding: 0.6rem 0.5rem 0.6rem 2rem;
    font-family: 'Georgia, Source Sans Pro, _sans-serif';
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.skjemasidebar__draweraccordionstepcontents p {
    font-family: 'Georgia, Source Sans Pro, _sans-serif';
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    white-space: pre-line;
}

.skjemasidebar__draweraccordionstepcontents a {
    font-size: 1.125rem;
}

.skjemasidebar__draweraccordionstepcontents h1,
.skjemasidebar__draweraccordionstepcontents h2,
.skjemasidebar__draweraccordionstepcontents h3,
.skjemasidebar__draweraccordionstepcontents h4,
.skjemasidebar__draweraccordionstepcontents h5 {
    font-family: 'Georgia, Source Sans Pro, _sans-serif';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.333333;
    margin-bottom: 0.55rem;
    margin-top: 2.2rem;
    color: #000;
}

.skjemasidebar__draweraccordionstepcontents h4,
.skjemasidebar__draweraccordionstepcontents h5 {
    font-size: 1.125rem;
}

.skjemasidebar__draweraccordionstepcontents ul {
    padding-left: 1rem;
}

.skjemasidebar__draweraccordionstepcontents ul li {
    font-family: 'Georgia, Source Sans Pro, _sans-serif';
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.4;
    color: #000;
    list-style: disc;
    list-style-position: outside;
    padding-left: 0.4rem;
    text-indent: 0;
}

.skjemasidebar__draweraccordionstepcontents dl {
    margin: 1rem 0;
    border-top: 1px solid #d6d4d3;
    border-bottom: 1px solid #d6d4d3;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.skjemasidebar__draweraccordionstepcontents dl dt {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    -webkit-font-feature-settings: 'smcp';
    font-feature-settings: 'smcp';
    font-variant: small-caps;
    text-transform: lowercase;
}

.skjemasidebar__draweraccordionstepcontents dl dd {
    margin-bottom: 1rem;
}

h2.skjemasidebar__draweraccordionsteptitle {
    background: none;
    padding: 0.5rem 2rem;
}

h2.skjemasidebar__draweraccordionsteptitle:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: inherit;
}

.skjemasidebar__draweraccordion .step {
    padding: 0;
    margin: 0;
}

.skjemasidebar__draweraccordion .step .hlpctr-container {
    overflow: hidden;
    -webkit-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

@media (min-width: 564px) {
    .skjemasidebar {
        width: 27.5rem;
        left: auto;
    }

    .skjemasidebar__drawerheader .skjemasidebar__title {
        font-size: 1.5rem;
    }

    .skjemasidebar__draweraccordion {
        padding: 0.5rem;
    }

    .skjemasidebar__draweraccordion .step {
        padding: 0;
        margin: 0;
    }

    .skjemasidebar__draweraccordionstepheader {
        display: block;
        position: relative;
    }

    .skjemasidebar__draweraccordionsteptitle {
        min-height: 3rem;
    }

    h2.skjemasidebar__draweraccordionsteptitle {
        padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    }

    .skjemasidebar__draweraccordionstepcontents {
        padding: 1.6rem 0.5rem 0.6rem 4rem;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }

    .skjemasidebar__draweraccordionstepcontents ul li {
        line-height: 1.5rem;
        padding-left: 0.6rem;
    }
}

@media (min-width: 768px) {
    .skjemasidebar__control {
        top: 9rem;
    }

    .skjemasidebar__control:before {
        bottom: 0;
    }

    .skjemasidebar__control:after {
        top: 6rem;
    }

    .skjemasidebar__controlbutton {
        left: 0;
        top: 0;
        height: 6rem;
        width: 2.8rem;
        border: 1px;
        border-style: solid;
        border-color: #fff;
        border-right: none;
        border-radius: 1rem 0 0 1rem;
    }

    .skjemasidebar__controlbutton .svgicon {
        display: inline-block;
        margin-top: 0.25rem;
        pointer-events: none;
    }

    .skjemasidebar__controlbutton .svgicon:first-child {
        width: 2rem;
        height: 2rem;
    }

    .skjemasidebar__controlbutton .svgicon:focus {
        outline: none;
    }

    .skjemasidebar__controlbutton:focus,
    .skjemasidebar__controlbutton:hover {
        outline: none;
        -webkit-box-shadow: -4px -4px 0 4px #9153e2, -4px 4px 0 4px #9153e2;
        box-shadow: -4px -4px 0 4px #9153e2, -4px 4px 0 4px #9153e2;
    }
}

@-webkit-keyframes hide-contents {
    to {
        visibility: hidden;
    }
}

@keyframes hide-contents {
    to {
        visibility: hidden;
    }
}

@media print {
    .skjemasidebar {
        display: none;
    }
}

.page_skjemautfyller__component > fieldset .nested-fieldset,
.page_skjemautfyller__component > fieldset legend,
.page_skjemautfyller__component legend {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.666666;
    padding: 0.5rem 0;
}

.page_skjemautfyller__component > fieldset .nested-fieldset em,
.page_skjemautfyller__component legend em {
    font-weight: 500;
    color: #62625f;
}

.page_skjemautfyller__component > fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: inherit;
}

.page_skjemautfyller__component .nested-fieldset {
    padding-left: 2.5rem;
    position: relative;
    overflow: inherit;
}

.page_skjemautfyller__component .nested-fieldset:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.5rem;
    bottom: 0;
    border-left: 4px solid #d6d4d3;
}

.page_skjemautfyller__component .nested-fieldset label:first-of-type {
    position: relative;
}

.page_skjemautfyller__component .nested-fieldset label:first-of-type:before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: -2rem;
    height: 1.5rem;
    border-left: 4px solid #d6d4d3;
}

.page_skjemautfyller__component .nested-fieldset .nested-fieldset,
.page_skjemautfyller__component .nested-fieldset fieldset {
    padding-left: 0;
}

.page_skjemautfyller__component .nested-fieldset .nested-fieldset:before,
.page_skjemautfyller__component .nested-fieldset fieldset:before {
    content: none;
}

.page_skjemautfyller__helpComponent {
    background-color: #efe4fd;
    padding: 25px;
    margin-bottom: 20px;
    visibility: hidden;
}

.page_skjemautfyller__helpComponent--open {
    visibility: visible;
}

.page_skjemautfyller__helpButton {
    margin-left: 1rem;
}

.page_skjemautfyller__helpButton .atom_inline-functionbutton {
    position: relative;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #bf98f3;
    vertical-align: middle;
    padding: 0;
}

.page_skjemautfyller__helpButton .atom_inline-functionbutton[aria-expanded='true'] {
    background-color: #5b22a6;
}

.page_skjemautfyller__helpButton .atom_inline-functionbutton:before {
    content: '?';
    display: block;
    line-height: 1.5rem;
    background-color: #5b22a6;
    color: #fff;
    border-radius: 50%;
    font-family: Arial;
    font-size: 18px;
    margin: 15%;
    width: 70%;
    height: 70%;
}

.page_skjemautfyller__helpButton .atom_inline-functionbutton:focus,
.page_skjemautfyller__helpButton .atom_inline-functionbutton:hover {
    -webkit-box-shadow: 0 0 0 4px #adadad;
    box-shadow: 0 0 0 4px #adadad;
}

.page_skjemautfyller__helpButton .atom_inline-functionbutton:focus {
    outline: none;
}

#navigator_blindzone {
    height: 1px;
}

.page_skjemautfyller__navigator {
    position: fixed;
    top: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
}

.page_skjemautfyller__navigator .page_skjemautfyller__navigatorheader {
    background-color: #afdae3;
    padding: 1rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
}

.page_skjemautfyller__navigator .page_skjemautfyller__navigatorheader:focus,
.page_skjemautfyller__navigator .page_skjemautfyller__navigatorheader:hover {
    -webkit-box-shadow: 0 0 0 4px #aaa8a6 inset;
    box-shadow: inset 0 0 0 4px #aaa8a6;
}

.page_skjemautfyller__navigator .page_skjemautfyller__navigatorheader:focus {
    text-decoration: underline;
    outline: 0;
}

.page_skjemautfyller__navigator .page_skjemautfyller__navigatorheader-text {
    -ms-flex: 1 1;
    flex: 1 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 1.5rem;
}

.page_skjemautfyller__navigator .page_skjemautfyller__navigatormenu {
    background-color: #e4f7f9;
    padding: 0.25rem 1.5rem 2em;
    max-height: 16rem;
    overflow: auto;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 0.75rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 0.3rem 0.6rem -0.1rem;
    box-shadow: 0 0.3rem 0.6rem -0.1rem rgba(0, 0, 0, 0.16);
}

.page_skjemautfyller__navigator .page_skjemautfyller__navmenubutton {
    min-height: auto;
    text-align: left;
}

.page_skjemautfyller__navigator-scroll-offset {
    scroll-padding-top: 62px;
}

.mol_form--content > section[id] > .page_skjemautfyller__skiplink {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.mol_form--content > section[id] > .page_skjemautfyller__skiplink:active,
.mol_form--content > section[id] > .page_skjemautfyller__skiplink:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

.page_skjemautfyller__fixed-scroll-offset {
    scroll-padding-bottom: 70px;
}

.page_skjemautfyller .nested-fieldset .atom_fieldset > legend,
.page_skjemautfyller .nested-fieldset .page_skjemautfyller__component > fieldset .atom_fieldset > .nested-fieldset,
.page_skjemautfyller .nested-fieldset .page_skjemautfyller__component > fieldset .atom_fieldset > legend,
.page_skjemautfyller .page_skjemautfyller__component > fieldset .nested-fieldset,
.page_skjemautfyller .page_skjemautfyller__component > fieldset legend,
.page_skjemautfyller__component > fieldset .page_skjemautfyller .nested-fieldset,
.page_skjemautfyller__component > fieldset .page_skjemautfyller .nested-fieldset .atom_fieldset > .nested-fieldset,
.page_skjemautfyller__component > fieldset .page_skjemautfyller legend,
.page_skjemautfyller label,
.page_skjemautfyller legend {
    padding-top: 0;
}

.page_skjemautfyller .page_skjemautfyller__component > fieldset .nested-fieldset > span:first-of-type,
.page_skjemautfyller .page_skjemautfyller__component > fieldset legend > span:first-of-type,
.page_skjemautfyller__component > fieldset .page_skjemautfyller .nested-fieldset > span:first-of-type,
.page_skjemautfyller legend > span:first-of-type {
    font-weight: 600;
}

.page_skjemautfyller p {
    padding: 0;
}

.page_skjemautfyller form.mol_form {
    margin-top: 1rem;
}

.page_skjemautfyller br + br {
    display: none;
}

.page_skjemautfyller div > label:first-child {
    display: inline-block;
    padding: 0.625rem 0;
}

.page_skjemautfyller .page_skjemautfyller__component_choice_autosuggest .page_skjemautfyller__no-suggestions {
    font-size: 1rem;
    max-width: 22rem;
    line-height: 1.25rem;
}

.page_skjemautfyller .page_skjemautfyller__component_choice_autosuggest .atom_spinner {
    position: absolute;
}

.page_skjemautfyller
    .page_skjemautfyller__component_choice_autosuggest
    .page_skjemautfyller__autosuggest
    div[role='combobox'] {
    max-width: 36rem;
}

.page_skjemautfyller .page_skjemautfyller__component_readonlytext {
    white-space: pre-line;
}

.page_skjemautfyller .page_skjemautfyller__heading {
    display: inline-block;
}

.page_skjemautfyller .mol_validation {
    margin-top: 0;
    margin-bottom: 0;
}

.page_skjemautfyller .nested-fieldset {
    margin-top: 1rem;
}

.page_skjemautfyller .nested-fieldset:empty {
    margin-top: 0;
}

.page_skjemautfyller section section + .page_skjemautfyller__component,
.page_skjemautfyller section section + section {
    margin-top: 2rem;
}

@supports (-ms-ime-align: auto) {
    .page_skjemautfyller section section + section:last-of-type {
        padding-bottom: 6rem;
    }
}

.page_skjemautfyller .page_skjemautfyller__component:last-of-type {
    margin-bottom: 0;
}

.page_skjemautfyller .page_skjemautfyller__component:last-of-type + section {
    margin-top: 1.5rem;
}

.page_skjemautfyller .page_skjemautfyller__markdown p {
    padding: 0.5rem 0;
}

.page_skjemautfyller .page_skjemautfyller__content h2 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.page_skjemautfyller.page_skjemautfyller__markdown h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.page_skjemautfyller.page_skjemautfyller h3,
.page_skjemautfyller.page_skjemautfyller h4 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.page_skjemautfyller.page_skjemautfyller__markdown h3,
.page_skjemautfyller.page_skjemautfyller__markdown h4 {
    margin-top: 0.8rem;
}

.page_skjemautfyller.page_skjemautfyller .page_skjemautfyller__component + section > h4,
.page_skjemautfyller.page_skjemautfyller .page_skjemautfyller__repeatbutton + section > h4,
.page_skjemautfyller.page_skjemautfyller section + section > h4 {
    margin-top: 2.5rem;
}

.page_skjemautfyller .nested-fieldset h3,
.page_skjemautfyller .nested-fieldset h4 {
    font-size: 1.125rem;
}

.page_skjemautfyller .page_skjemautfyller__repeatbutton {
    margin: 1rem 1rem 1rem 0;
}

.page_skjemautfyller .page_skjemautfyller__deletebutton-wrapper + .page_skjemautfyller__repeatbutton-wrapper {
    margin-top: 2rem;
}

.page_skjemautfyller .page_skjemautfyller__deletebutton--margin-top {
    margin-top: 1rem;
    margin-right: 1rem;
}

.page_skjemautfyller .page_skjemautfyller__formtitlewrapper {
    margin: 3rem 0 2rem;
    padding-right: 3rem;
}

.page_skjemautfyller .page_skjemautfyller__formtitlewrapper .atom_helptrigger-button {
    left: 0.5rem !important;
}

.page_skjemautfyller h1.page_skjemautfyller__formtitle {
    display: inline;
}

.page_skjemautfyller__sublabel p {
    margin: 0;
}

.page_skjemautfyller__component {
    padding: 1rem;
    background-color: #f5f3f3;
    border: 1px solid #eae7e7;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .page_skjemautfyller__component {
        padding: 1.75rem 2rem;
    }
}

.page_skjemautfyller__component .page_skjemautfyller__component {
    background: 0;
    border: 0;
    padding: 0;
    margin-bottom: 2rem;
}

.page_skjemautfyller .char-counter {
    background: 0;
    margin-right: 0.5rem;
}

.page_skjemautfyller .atom_textarea,
.page_skjemautfyller .char-counter {
    max-width: 38rem;
}

.page_skjemautfyller__hidden_buttons .page_skjemautfyller__saveblock {
    display: none;
}

.page_skjemautfyller .mol_validation-summary {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.page_skjemautfyller .mol_validation__formerrortext {
    display: none;
}

.page_skjemautfyller .nested-fieldset .mol_validation:before {
    left: -2rem;
    width: 2rem;
}

.page_skjemautfyller .nested-fieldset .mol_validation:after {
    left: -2rem;
}

.page_skjemautfyller__spinnerspacing {
    height: 12rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 564px) {
    .page_skjemautfyller__spinnerspacing {
        height: 20rem;
    }
}

.page_skjemautfyller .page_skjemautfyller__component_quantity .page_skjemautfyller__quantity {
    display: inline-block;
}

.page_skjemautfyller__unit {
    margin-left: 1rem;
    vertical-align: bottom;
}

.page_skjemautfyller .page_skjemautfyller__buttonwrapper {
    margin-top: 1rem;
}

.page_skjemautfyller .page_skjemautfyller__buttonwrapper .atom_displaybutton {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.page_skjemautfyller .page_skjemautfyller__grid--cell > div:first-child > div:first-child label,
.page_skjemautfyller .page_skjemautfyller__grid--cell > section:first-child > .page_skjemautfyller__heading {
    display: none;
}

.page_skjemautfyller .page_skjemautfyller__grid--cell > .page_skjemautfyller__component:first-child {
    padding: 0;
}

.page_skjemautfyller .page_skjemautfyller__component_highlight {
    background-color: #efe4fd;
    padding: 1.75rem 2rem;
}

.extra_savebutton_wrapper {
    position: relative;
}

@media (min-width: 564px) {
    .extra_savebutton_wrapper {
        display: none;
    }
}

.extra_savebutton_wrapper .extra_savebutton {
    position: absolute;
    bottom: 0;
    right: 0;
}

.extra_savebutton_wrapper .extra_savebutton:not([disabled]) {
    background-color: #f5f3f3;
}

.extra_savebutton_wrapper .extra_savebutton > svg {
    margin: 0 -1rem 0 0.5rem;
    min-width: 2rem;
    max-width: 2rem;
}

.page_skjemautfyller__stickybar + .extra_savebutton_wrapper {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0.5rem;
    z-index: 2;
}

.page_skjemautfyller__saveblock .atom_displaybutton:only-child {
    width: auto;
    padding: 0 2rem;
}

.extra_savebutton_wrapper .atom_displaybutton,
.page_skjemautfyller__saveblock .atom_displaybutton {
    padding: 0;
    width: 33%;
    margin: 0;
}

@media (min-width: 564px) {
    .extra_savebutton_wrapper .atom_displaybutton,
    .page_skjemautfyller__saveblock .atom_displaybutton {
        padding: 0 2rem;
        margin-right: 1rem;
        width: auto;
    }
}

.extra_savebutton_wrapper .page_skjemautfyller__pausebutton,
.page_skjemautfyller__saveblock .page_skjemautfyller__pausebutton {
    display: none;
}

@media (min-width: 564px) {
    .extra_savebutton_wrapper .page_skjemautfyller__pausebutton,
    .page_skjemautfyller__saveblock .page_skjemautfyller__pausebutton {
        display: inline-block;
    }
}

@media (min-width: 564px) {
    .page_skjemautfyller__stickybar .page_skjemautfyller__saveblock {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        background-color: #fff;
        padding: 0.5rem 1rem;
        z-index: 2;
        -webkit-box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.15);
    }
}

.page_skjemautfyller__languge-selector {
    margin-top: 1.5rem;
    padding-bottom: 0;
}

.page_skjemautfyller__topmessage .atom_helptrigger-container {
    display: inline-block;
    width: 35px;
}

.page_skjemautfyller__topmessage .atom_helptrigger-container .org_helptrigger {
    top: -10px;
    left: -8px;
}

.page_skjemautfyller__topmessage .atom_helptrigger-container .atom_helptrigger-button {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.page_skjemautfyller .page_skjemautfyller__receivercomponent h2 {
    margin: 0;
}

.page_skjemautfyller .page_skjemautfyller__receivercomponent .page_skjemautfyller__sublabel {
    margin-bottom: 2rem;
}

.page_skjemautfyller__receiverselect .atom_select {
    margin-bottom: 2rem;
    max-width: 30rem;
    width: 100%;
}

/*# sourceMappingURL=skjema.15da0c9c.css.map */
