.failed-container {
    margin-top: 12.5rem;
}

.patient-card {
    margin-top: (1.875rem!important);
    cursor: auto;

    .ant-card-head {
        background-color: #f7fbff !important;
        display: flex;
        justify-content: center;

        h4 {
            margin-bottom: 0;
        }
    }

    .info-container {
        display: flex;
        justify-content: space-between;

        span {
            font-weight: bold;
        }
        h4 {
            font-style: italic;
            font-weight: 150;
            margin-bottom: 0;
            margin-top: 0.8125rem;
        }
    }
}

.patient-table {
    margin-top: 1.25rem;

    .ant-table-thead {
        th {
            background-color: #f7fbff !important;
        }
    }
    .ant-table-tbody {
        .table-row-dark {
            background-color: rgba(245, 241, 241, 0.523);
        }
        cursor: pointer;
    }
}
