.modal {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    background: white;
    min-height: 600px;
    text-align: left;
}

.modal>.content>button {
    background: #2A69AC;
    border-radius: 24px;
}

.feedback {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.feedback>p{
    padding-left: 7px;
    margin: 0;
    font-size: 19px;
}