html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.right-drawer {
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
    min-width: 600px;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    overflow-y: auto;
}

.right-drawer.open {
    transform: translateX(0);
}

.drawer-header {
    background-color: var(--primary-2);
    display: flex;
    padding: 10px 0;
}